# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data (DO NOT COMMIT DATA)
data/raw/**
data/interim/**
data/processed/**
!data/**/.gitkeep

# Models
models/*.pkl
models/*.h5
models/*.joblib
models/*.pt
models/*.pth

# Environment files
.venv/
.env

# MacOS files
.DS_Store

# IDEs
.vscode/
.idea/

# Tests
.pytest_cache/