numpy
pandas
scikit-learn
matplotlib
seaborn
pyyaml
pytest
black
flake8
streamlit
opencv-python
tqdm
torch
torchvision
Pillow
PyYAML
tensorboard
tensorflow
albumentations
scikit-image
timm
einops
pytorch-grad-cam
shap
hydra-core
wandb
rich
